<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <h1 style= "text-align: center;">{{main_title}}</h1>
    <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use
    your 1 minute to actually say something meaningful? Worry no more! <strong>{{main_title}}</strong> got you covered. Welcome</p>
    
</body>
</html>